<header class="admin-header">
    <div class="header-left">
        <button id="sidebar-toggle" class="sidebar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="">
            <div class="subtitle">ADMIN PANEL</div>
        </div>
    </div>
    <div class="header-right">
        <div class="admin-profile">
            <div class="admin-info">
                <span class="admin-name">FITBOY</span>
                <div class="admin-dropdown">
                    <a href="/admin/profile">Profile</a>
                    <a href="/admin/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>